@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Bienvenido ADMIN</h1>
        <p>Administre su fuerza de trabajo y gestione sus socios.</p>
        <p>Precione sobre la barra de tareas para comenzar.</p>
    </div>
