@{
    ViewData["Title"] = "AcercaDe";
}

<h1 class="text-info">Acerca De</h1>
<h2 class="text-info">¿Quienes somos?</h2>
<p style="text-align:justify">
    <strong>El mejor servicio, para  tus necesidades... </strong>
    buscamos ser el mejor gimnasio a tu alcance con los mejor servicios y aplicando la tecnolog&iacute;a para satisfacer tu estilo de entrenamiento.
</p>
<h2 class="text-info">Misi&oacute;n</h2>
<p style="text-align:justify">
    <strong>Tu satisfacci&oacute;n. </strong>
    Producirte la mejor experiencia, hacerte sentir en cas y lograr que tus metas sean alcanzables, recuerda esto m&aacute;s que un servicio es una familia.
</p>

<h2 class="text-info">Visi&oacute;n</h2>
<p style="text-align:justify">
    <strong>Las familias crecen... </strong>
    Invadir y crear tendencia con nuestra atenci&oacute;n, de excelente calidad.
</p>