@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-danger">Acceso Denegado.</h1>
<h2 class="text-danger">Error de Permisos.</h2>
<p style="text-align:justify">
    <strong>Usted no tiene los permisos requeridos para acceder  a esta secci&oacute;n.</strong>
    Regrese por favor a inicio o valla a la secci&oacute;n acorde a sus permisos, si hay algun error comuniquelo a soporte de la aplicaci&oacute;n
</p>
