/*h1.list{
    padding: 1% 0% 1% 5%;
}*/

h4, h2 {
    font-weight: inherit;
    margin: 2% 0% 2% 5.2%;
}

input {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #e5e5e5;
}

input:focus{
    border-radius: 5px;
}



span, .text-danger {
    color: #dc3545;
}

.form-group{
    margin: 0% 0% 0% 6%;
}

p {
    margin: 0% 5% 0% 5%;
    font-weight:inherit;
}

