@model Proyectov1.Models.Mobiliario

@{
    ViewData["Title"] = "Create";
}

<h1>Agregar Mobiliario</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label asp-for="MobApaNombre" class="control-label">Nombre de Aparato</label>
                    <input asp-for="MobApaNombre" class="form-control" maxlength="25" min-length="7" placeholder="Caminadora 1" required/>
                    <span asp-validation-for="MobApaNombre" class="text-danger"></span>
                </div>
                <div class="form-group col-md-8">
                    <label asp-for="ApaId" class="control-label">Tipo de Aparato</label>
                    <select asp-for="ApaId" class="form-control" asp-items="ViewBag.ApaId"></select>
                </div>
                <div class="form-group col-md-8">
                    <label asp-for="ApaEstatus" class="control-label">Estatus</label>
                    <select asp-for="ApaEstatus" class="form-control">
                        <option value="True" selected>Activo</option>
                        <option value="False">Inactivo</option>
                    </select>
                </div>
            </div>
            <div>
                <div class="form-group-buttons">
                    <a class="btn btn-success" href="/Admin/Mobiliario">Regresar a Listado</a>
                    <input type="submit" value="Agregar" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
