@model IEnumerable<Proyectov1.Models.Mobiliario>

@{
    ViewData["Title"] = "Index";
}

<h1>MI MOBILIARIO</h1>


<a class="btn btn-primary" href="/Admin/Mobiliario/Create">Nuevo Mobiliario</a>

<table class="table">
    <thead>
        <tr>
            <th>
                Nombre de Aparato
            </th>
            <th>
                Estatus
            </th>
            <th>
                Tipo de Aparato
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MobApaNombre)
            </td>
            @if (item.ApaEstatus.Value)
            {
                <td class="active">Activo</td>
            }
            else
            {
                <td class="inactive">Inactivo</td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Apa.ApaNombre)
            </td>
            <td class="td-buttons">
                <a class="btn btn-warning" href="/Admin/Mobiliario/Edit/@item.MobId">Editar</a>
                <a class="btn btn-danger" href="/Admin/Mobiliario/Delete/@item.MobId">Eliminar</a>
            </td>

        </tr>
}
    </tbody>
</table>
