@model Proyectov1.Models.Persona
@{
    ViewData["Title"] = "Create";
}

<h1>Agregar Socio</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="PerNombre" class="control-label">Primer Nombre</label>
                <input asp-for="PerNombre" class="form-control" />
                <span asp-validation-for="PerNombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="PerNombre2" class="control-label">Segundo Nombre</label>
                <input asp-for="PerNombre2" class="form-control" />
                <span asp-validation-for="PerNombre2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="PerPaterno" class="control-label">Apellido Paterno</label>
                <input asp-for="PerPaterno" class="form-control" />
                <span asp-validation-for="PerPaterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="PerMaterno" class="control-label">Apellido Materno</label>
                <input asp-for="PerMaterno" class="form-control" />
                <span asp-validation-for="PerMaterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Usu.UsuName" class="control-label">Usuario</label>
                <input asp-for="Usu.UsuName" class="form-control" />
                <span asp-validation-for="Usu.UsuName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Usu.UsuPass" class="control-label">Contrase&ntilde;a</label>
                <input type="password" asp-for="Usu.UsuPass" class="form-control" />
                <span asp-validation-for="Usu.UsuPass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Usu.UsuCorr" class="control-label">Email</label>
                <input asp-for="Usu.UsuCorr" class="form-control" />
                <span asp-validation-for="Usu.UsuCorr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="SocAltura" class="control-label">Altura(m)</label>
                <input asp-for="SocAltura" class="form-control" />
                <span asp-validation-for="SocAltura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="SocPeso" class="control-label">Peso(Kg)</label>
                <input asp-for="SocPeso" class="form-control" />
                <span asp-validation-for="SocPeso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="SocTelefono" class="control-label">Telefono</label>
                <input asp-for="SocTelefono" class="form-control" />
                <span asp-validation-for="SocTelefono" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="InsoInst" class="control-label">Instructor</label>
                <select asp-for="InsoInst" class="form-control">
                    
                    @foreach (var item in  (List<Persona>)ViewBag.Instru)
                    {
                        <option value="@item.PerId">@String.Concat(item.PerNombre, " ", item.PerNombre2, " ", item.PerPaterno, " ", item.PerMaterno)</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Agregar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="/Admin/Socios">Regresar a Listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
